h1 {

	color: #fff;
}
body, html {

	margin: 0;
	padding: 0;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 80vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    /* background: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
	border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
	
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #fac031;
}

section nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #fac031;}

body {

	background: url(./image/nen.gif) no-repeat center center fixed;
	background-size: cover;
}
img {
 margin-top: 10px;
 width: 120px;
 height: 120px;
margin-left: 10px;
}
header {
	margin-top: 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header > img {
	width: 9em;
	height: 9em;
	border-radius: 100%;
	border: 2px solid #fff;
	box-shadow: red 0px 2px 8px 0px; 
}
header > h1 {
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 1em;
	background-color: #000 ;
	color: #fff;
	padding: 0.3em 0.6em;
	border: 2px solid #fffa;
}


ul {
	box-sizing: border-box;
	list-style: none;
	margin: 0 autu;
	padding: 2em;
}
ul > li {
   
   background-color: #fffa;
   border-radius: 1em;
   padding: 0.5;
   margin: 1em 0;
   align-items: center;
   display: flex;
  display: inline-block;
}
ul > li > a {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	gap: 0em;
}
a {

	color: black;
	text-decoration: none;
	font-size: 20px;
	align-items: center;
	padding: 5px;
	
}
ul {
	text-align: center;
	padding: auto;
}
p {

	text-align: center;
	color: #fff;
}



.container_swap{

width: 100%;

}

.div_left{
	margin-top: 10%;

width: 45%;

float: left;

text-align:center;

}

.div_right{
	margin-top: 10%;

width: 45%;

float: right;

text-align: center;

}

